# API
API_PORT=3333

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3333

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/agendamento

# JWT
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me