# Dependencies
node_modules
**/node_modules

# Environment
.env
.env.*
!.env.example

# Next
.next
out

# Nest
dist

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal

# Docker volumes
docker-data